nav{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
}

.nav-list{
  display: flex;
  justify-content: space-around;
  width: 35%;
  list-style: none;
  cursor: pointer;
}

.list-of-users {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  max-height: 500px;
  overflow: scroll;
}